/* universal */


.side_link a.current{
	color: var(--main);
	/* font-weight: var(--bold-weight);  */
  }


HTML{
	scroll-behavior: smooth;
}

* {
	margin:0;
	padding:0;
	border:0;
	vertical-align: baseline;
	box-sizing:border-box;
	-webkit-tap-highlight-color: transparent;
}

body{
	/* general setting */
	--main:#D05A6E; /* change the html head 所谓今样，就是“当世风”的意思，形式为七五言四句，在平安中末期流行，而平安被誉为日本文学的顶峰*/ 
	--secondary:#F17C67;
	--darker: #000;
	--bg: #fff;
	--bg2: #efefef;
    margin: var(--mask-width) var(--mask-width) 0;
    line-height: 1;
    color: var(--text);
    background: var(--bg);

	/* motion */
	--curve: cubic-bezier(.08,.82,.2,1);
    --curve-out: cubic-bezier(.95,.05,.8,.04);
    --duration: .3s;
    --duration-out: .17s;
    --transition: all var(--duration) var(--curve);
    --transition-out: all var(--duration-out) var(--curve-out);
    scroll-behavior: smooth;

	/* border setting */
	--border: #ddd;
	--border2: #888;
	--border-type: dotted;
	--border-width: 1px;
	--standard-border: var(--border-width) var(--border-type) var(--border);
	--happy-border: var(--border-width) var(solid) var(--main); /* need to figure out hoover on axis */
	--radius: 0px;

	/* header */
	--side-width: 250px;
    --actual-width: 100vw - 250px;

	/* margin-setting */
	--h-margin: 1.25rem;

	/* mask setting */
	--mask-width: .7rem;

	/* font setting */
    --default-font: Helvetica,sans-serif;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica",sans-serif;
    text-align: left;
	--bold-weight: 700;
	--semibold-weight:600;

	--text: #1C1C1C; /*墨水的颜色*/
	--text2: #434343;
	--text3: #989898;
	--text4: #d5d5d5;
	--fz1: 1.87em;
	--fz2: 1.47em;
	--fz3: 0.97em;

    --pattern-bg: radial-gradient(var(--border) calc( .5 * var(--border-width)), var(--bg) calc( .5 * var(--border-width)));
    --pattern-size: calc( 2 * var(--border-width)) calc( 2 * var(--border-width));


}

/* General accessibility  */
@media (prefers-reduced-motion: reduce){
    .main .h-item, .main, .main .h-axis::after, .main .h-axis::before, .main .h-year{
        animation:none;
    }
}
.skip-to-content-link {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
  }
.skip-to-content-link {
    background:var(--main);
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
.skip-to-content-link:focus {
    transform: translateY(0%);
  }


/* mobile header  */
/* need to make more appealing  */

@media (max-width: 750px){
	.main .topnav {
		display:inherit;
	}
}
/* Style the navigation menu */
.topnav {
    display: none;
    overflow: hidden;
    background-color: var(--main);
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    overflow: visible;
    width:700px;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background:var(--main);
    display: block;
    position: absolute;
    right: var(--mask-width);
    top: var(--mask-width);
    z-index: 999;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color:var(--secondary);
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color:var(--main);
  }




/* main page */

/* text style */
h1 {
    font-size: var(--fz1);
    font-weight: var(--bold-weight);
    line-height: 1.26;
    position: relative;
    color: var(--text);
    overflow: hidden;
}

h2 {
	font-size:var(--fz2);
	font-weight: var(--semibold-weight);
	line-height: 1;
    position: relative;
    color: var(--text);
    overflow: hidden;
	margin-bottom: 1.2em;
}

/* mask */ 
.mt {
    top: 0;
    height: var(--mask-width);
}

.mb, .mt {
    width: 100%;
    left: 0;
}
.mb {
    bottom: 0;
    height: var(--mask-width);
}

.ml, .mr{
    width: var(--mask-width);
    height: 100%;
}

.ml{
    left:0;
}
.mr{
    right:0;
}

.mask {
    position: fixed;
    z-index: 999;
    border: calc(var(--mask-width)/ 2) solid var(--main);
    background: var(--main);
    pointer-events: none;
}


/* header */
header {
    padding: 0.5rem var(--h-margin);
    height: 100%;
    width: 240px;
    width: var(--side-width);
    border-right: var(--standard-border);
    position: fixed;
    overflow: auto;
    background-color: var(--bg);
    scrollbar-width: none;
    font-size: var(--fz3);
}

.photo {
    max-width: 20rem;
}

.My_Intro{
    margin: 0 auto 2rem;
	display:block;
    margin-left: auto;
    margin-right: auto;
    

}
.My_Intro p{
	font-weight: var(--bold-weight);
    line-height: 1.5;
    text-align: center;
}



.nav{
	margin: 0 0 2em;
}

.nav ul{
    display: flex;
    flex-direction: column;
}

a{
	color: inherit;
    cursor: pointer;
    transition: color var(--duration) var(--curve),background-color var(--duration) var(--curve);
    touch-action: manipulation;

}

.nav a{
	text-decoration: none;
    transition: var(--transition-out);
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
    border-bottom: var(--standard-border);
    font-weight: 400;
    line-height: 1;
}

a .material-icons{
	font-size: 0.7rem;
	/* don't change this, it's icon in hearder */
}

/* .side_link{
	Need add listern to change the color when hoover on  
} 
*/

.nav_label{
    padding: 2.5em 0 0.3em;
    text-align: left;
    font-weight: var(--bold-weight);
    color: var(--main);
}

/* For the first page */

.overview:nth-of-type(1) {
    order: 1;
}
/* check this again */

.overview {
    position: relative;
    padding: calc(var(--h-margin) * 1.5) calc(var(--h-margin) * 2);
    max-width: 90rem;
    margin-left: var(--side-width);
    margin: 0.8em auto auto var(--side-width);
    display: flex;
    flex-direction: column;
    height: 100%;

    color: var(--text2);
    font-size: var(--fz3);
    text-align: left;
    line-height: 1.7;

    animation: SlowShow calc(4 * var(--duration)) var(--curve) both;
}
@keyframes SlowShow{
	0% {opacity:0;}
	100% {opacity:1;}
}


/* The history axis */
.history {
    padding: 3.5rem 0 2.5rem 0;
    --item-visible-height: 4rem;
    --item-height: 6rem;
    --item-diff: 1.5rem;
    --item-desc: 2.8rem;
    transition: var(--transition);
    overflow: visible;
    border-bottom: var(--standard-border);
}

.history>.inner {
    padding: calc(1.5vmax + 1.5vmin) 0;
}

.h-items {
    position: relative;
    width: 100%;
    height: var(--item-visible-height);
}

.h-item {
    position: absolute;
    top: 0;
    font-size: 0.75em;
    height: var(--item-height);
    line-height: 1.5;
    z-index: 2;
    transition: .12s ease-out .1s;
    animation: h-enter 0.7s ease-out both;
}

@keyframes h-enter{
	0%{
		transform:translateY(1em) skewY(6deg);
		opacity:0}

	40%{transform:translateY(-.2em) skewY(3deg);
		opacity:1}

	100%{transform:none}
	}

.h-title {
    font-weight: var(--bold-weight);
    height: 1rem;
    width: auto;
    display: inline-block;
    line-height: 1;
    transition: var(--transition-out);
    user-select: none;
    border-bottom: var(--standard-border);
}

.h-desc {
    border-left: var(--standard-border);
    height: var(--item-desc);
    transition: .12s ease-out;
}

.h-item.y-l .h-desc {
    height: calc(var(--item-desc) - var(--item-diff));
}

.h-item.y-l {
    top: var(--item-diff);
    height: calc(var(--item-height) - var(--item-diff));
}
.h-axis {
    height: 0.2rem;
    width: 100%;
    position: relative;
    z-index: 8;
}


.h-axis::before {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    top: -0.15rem;
    left: -0.15rem;
    background: var(--secondary);
    z-index: 9;
    animation: dot-in .5s cubic-bezier(.7,0,0,.8) both;
    transition: var(--transition);
}
@keyframes dot-in{
	0%{transform:scale(0)}
	50%{transform:scale(1.2)}
	80%{transform:scale(.8)}
	100%{transform:none}
}

.h-axis::after {
    background: linear-gradient(to right,var(--secondary) 95%,var(--bg) 100%);
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    transform-origin: left;
    border-radius: 0.1rem;
    transition: var(--transition);
    animation: axis-in .6s cubic-bezier(.7,0,0,.8) .3s both;
}
@keyframes axis-in{
	0%{transform:scaleX(.5);opacity:0}
	100%{transform:scaleX(1);opacity:1}
}

.h-bottom {
    position: relative;
    width: 100%;
    height: 0.8rem;
    transition: .12s ease-out .1s;
}

.h-year {
    position: absolute;
    top: 0.4em;
    font-size: 0.7em;
    height: 1.1rem;
    display: flex;
    z-index: 19;
    align-items: flex-end;
    transition: var(--transition);
    animation: year-in .4s ease-out both;
}
@keyframes year-in{
	0% {transform: translateY(-0.5em);opacity: 0;}
	40% {transform: translateY(0.1em);opacity: 1;}
	100% {transform: none;}
}
.h-year .h-year-title {
    position: relative;
    transform: translateX(-50%);
}
.h-year-title {
    transition: .12s ease-out .1s;
}
.h-year::before {
    content: "";
    width: 2px;
    height: 0.6rem;
    position: relative;
    background: var(--bg);
    top: -1rem;
    left: 0;
}

/* accesiblity adjustment */
@media (max-width: 1100px){
	.h-title{
		transform: rotate(-33deg);
    	transform-origin: bottom left;
    	font-size: 0.7em;
    	height: 0.8rem;
	}  
}

@media (max-width: 750px){
	body {
		--side-width: 0px;
		--mask-width: 1.5vw;
	}
	.history{
		display:none;
	}
	.header{
		display:none;
	}	
}

.projects{
    padding: 2.5rem 0;
    border-bottom: var(--standard-border);
}
.product-container{
	display: grid;
	grid-gap: 1.5rem;
}
.product-container img{
	height: auto;
	width:auto;
	max-height:100%;
	justify-content: center;
}

@media (min-width: 1100px){
	.product-container{
		grid-template-columns: 22% 22% 22% 22%;
		grid-template-rows: 100%;
	}
}
@media (max-width: 1100px){
	.product-container{
		grid-template-columns: 45% 45%;
		grid-template-rows: 45% 45% ;
	}
}
@media (max-width: 750px){
	.product-container{
		grid-template-columns: 100%;
		grid-template-rows: 22% 22% 22% 22%;
	}
}

.footer {
    color: var(--text3);
    text-align: center;
    padding: 2em 0 3em var(--side-width);
    font-size: .875rem;
    line-height: 1.7;
}

.inner-footer {
    border: none;
}



/* Project share setting  */
.project{
    position: relative;
    padding: calc(var(--h-margin) * 1.5) calc(var(--h-margin) * 2);
    max-width: 90rem;
    margin-left: var(--side-width);
    margin: 0.8em auto auto var(--side-width);
    display: flex;
    flex-direction: column;
    height: 100%;

    color: var(--text2);
    font-size: var(--fz3);
    text-align: left;
    line-height: 1.7;

    animation: SlowShow calc(4 * var(--duration)) var(--curve) both;
}

.block {
    margin: 0;
    padding: 2.5rem 0;
    flex-basis: 100%;
    text-align: left;
    border-bottom: var(--standard-border);
    line-height: 1.5;
    color: var(--text2);
}

.block ul{
    list-style: disc outside;

}



/* CU */
.twotext{
    display:flex;
}
.t1{
    width: 50%;
    padding-right: 1em;
}
.t2{
    width: 50%;
    padding-right: 1em;
}

.onevoneimg{
    display:grid;
    grid-template-columns: 20% 75%;
    column-gap:2em ;
    max-height: 100%;
}

.onevoneimg video{
    max-width: 100%;
    grid-column: 1;
}
.onevoneimg img{
    max-width: 100%;

    grid-column:2/4;
}

.image{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 1.5rem 0;
    column-gap: 2em;
}

.image img{
    max-height: 350px;
    padding:1em 0.5em 0 0.5em;
}

.polaroid {
    width: 80%;
    background-color: #FFFFFF; /*color of unbleached silk, no it's not working*/
    box-shadow: 0px 4px 9px 0px var(--border);
    margin-bottom: 1rem;
  }
  
.polartext p{
    text-align: center;
    padding: 1em 2em;

}


.bignumber {
    font-size: 5em;
    color: var(--secondary);
    font-weight: var(--bold-weight);
    line-height: 1;
    position: relative;
    text-shadow: -3px -3px 0 white;
    transition: var(--transition);

}

.bignumber::before {
    content: "";
    width: 50%;
    height: 55%;
    background-image: var(--pattern-bg);
    background-size: var(--pattern-size);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0%;
    transition: var(--transition);
}

.twocol{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    column-gap: 2em;
    row-gap:2em;
}

/* change it, after figuring out sizing in grid */
.twocol img{
    max-width: 300px
}

.twocol-img1{
    justify-self: center;
    grid-row: 2 / span 2;
}

.twocol-img2{
    justify-self: center;
    grid-row:2;
    grid-column: 2;
    
}

.twocol-img3{
    justify-self: center;
    grid-row:3;
    grid-column: 2;
    overflow:hidden;
    
}

.twocol-text1{
    display:flex;
    flex-direction: column;
    align-items: end;
    max-width: 300px;
    text-align: end;
    justify-self: center;
    align-self: center;
}

.twocol-text2{
    grid-column: 2;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    max-width: 300px;
    text-align:start;
    justify-self: center;
    align-self: center;
}


.twocol-text1>em, .twocol-text2>em, .threecol-text1>em, .threecol-text2>em{
    font-size: 1.5em;
    font-weight: var(--bold-weight);
    font-style: normal;
    display: block;
}


.threecol{
    display:grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    column-gap: 2em;
    row-gap:2em;
}

.threecol-text1{
    display:flex;
    flex-direction: column;
    align-items: start;
    max-width: 300px;
    text-align: start;
    justify-self:left;
    align-self:flex-start;
}

.threecol-text2{
    display:flex;
    flex-direction: column;
    align-items: end;
    max-width: 300px;
    text-align: end;
    justify-self:right;
    align-self:flex-end;
}

.threecol-img1{
    justify-self: center;
    grid-row: 1;
    grid-column: 2;
}

.threecol-img2{
    justify-self: center;
    grid-row:2;
    grid-column: 2;
}

.threecol-v1{
    justify-self:end;
    grid-row:1;
    grid-column: 3;
    max-width: 100%;
}

.threecol-v2{
    justify-self:left;
    grid-row:2;
    grid-column: 1;
}







/* Temporary style */
.problem-demo{
    background-color: black;
    height: 500px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.problem-demo p{
    color: grey;
    font-size: large;
    display:inline-block;
    margin-left: 125px;
    text-align: center;
}



